streamlit==1.23.0
moviepy==1.0.3
speechrecognition==3.10.0
protobuf<5,>=3.20
pyarrow>=4.0
pympler<2,>=0.9
python-dateutil<3,>=2
requests<3,>=2.4
rich<14,>=10.11.0
tenacity<9,>=8.0.0
toml<2
typing-extensions>=3.10.0.0
tzlocal<5,>=1.1
validators<1,>=0.2
gitpython!=3.1.19,<4,>=3
pydeck<1,>=0.1.dev5
tornado<7,>=6.0.3
watchdog
decorator<5.0,>=4.0.2
imageio<3.0,>=2.5
imageio_ffmpeg>=0.2.0
tqdm<5.0,>=4.11.2
proglog<=1.0.0
filelock
sympy
pillow==9.5.0
